<footer class="b2b-footer noprint container">
  <div class="d-flex align-items-center flex-wrap mb-lg-1 mb-3">
    <div class="d-flex align-items-center mr-4 b2b-footer__wrap-logo">
      <img class="b2b-footer__logo" src="/assets/img/svg-icons/footer-logo.svg">
      <div class="b2b-footer__copyright">&copy; 2011–2018 B2B.CASH</div>
    </div>
    <div class="d-flex b2b-footer__menu">
      <div class="b2b-footer__menu__item">
        <a [href]="clientDocsUrl" target="_blank" class="b2b-footer__menu__link">{{'footer.documents' | translate}}</a>
      </div>

    </div>
    <div class="d-flex ml-auto b2b-footer__socials">
      <a target="_blank" href="https://www.instagram.com/b2bcash/"><img src="/assets/img/svg-icons/ic-instagram.svg"></a>
      <a target="_blank" href="https://www.youtube.com/channel/UC-jwLn3fUDhiGqbeRuVp0yg?view_as=subscriber"><img src="/assets/img/svg-icons/ic-youtube.svg"></a>
      <a target="_blank" href="https://www.facebook.com/www.b2b.cash/"><img src="/assets/img/svg-icons/ic-facebook.svg"></a>
    </div>
  </div>
  <div class="">
    <div class="b2b-footer--text w-100">{{'footer.addressRussia' | translate}}, Tel: +79587568777</div>
    <div class="b2b-footer--text w-100">{{'footer.addressChina' | translate}}, Tel: +861085241240</div>
  </div>
</footer>
